.container1{
    width: 100%;
    height: 500px;
    background-size: 100%;
    padding-top: 75px;
    /* background-color: aquamarine; */
    
}
.mainimg{
    position: absolute;
    height: 500px;
    width: 98%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient();
    padding: 1%;
    margin: 1%;
}
.logo{
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}
.roter{
    margin-top: 4%;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: revolve 9s infinite;
    
}
@keyframes revolve{
    0%{
        margin-left:1%;
        transform: rotate(0deg);
    }
    20%{
        margin-left:21%;
        transform: rotate(120deg);
    }
    40%{
        margin-left:40%;
        transform: rotate(260deg);
    }
    50%{
        margin-left:63%;
        transform: rotate(360deg);
    }
    60%{
        margin-left:40%;
        transform: rotate(260deg);
    }
    80%{
        margin-left:21%;
        transform: rotate(120deg);
    }
    100%{
        margin-left:1%;
        transform: rotate(0deg);
    }
}
.roter img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    
}
.roter h3{
    position: relative;
    font-size: 30px;
    text-align: center;
    width: auto;
    height: auto;
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    animation: rev 6s infinite;
    
}
@keyframes rev{
    0%{
        margin-left:1%;
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(240deg);
    }
    40%{
        transform: rotate(120deg);
    }
    50%{
        transform: rotate(360deg);
    }
    60%{
        transform: rotate(120deg);
    }
    80%{
        transform: rotate(240deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.heading{
    width: 98%;
    height: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 60px;
    color: aliceblue;
    margin-left: 2%;
    background-color: rgba(255, 255, 255, 0);
}
.dropdown{
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0);
}
select{
    width: 250px;
    height: 45%;
    margin-right: 1%;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 400;
    border-radius: 0px;
}
.setbt{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}
.setbt a{
    width: fit-content;
    background-color: rgba(255, 255, 255, 0);
}
.setbt p{
    width: fit-content;
    color: aliceblue;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0);
}
.setbt button{
    width: 90px;
    padding: 6px;
    background-color: orange;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    color: aliceblue;
}
